@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import url(header-footer.css);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.hero-section {
    overflow: hidden;
    display: grid;
    place-items: center;
    isolation: isolate;
    max-height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                url("../images/clg-ced.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 13rem;
}

.hero-section > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

/* .hero-background img {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -10;
} */

.hero-text-container {
    z-index: 10;
}

.hero-text,
.hero-author {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: "Poppins";
}

.hero-author {
    font-size: 20px;
}

section.about-college {
    padding-top: 50px;
    background-image: linear-gradient(to bottom, #f5ee56, #ddddcd);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

section.about-college > .college-title {
    font-size: 40px;
    color: rgb(68, 41, 1);
}

section.about-college > .about-college {
    width: 70%;
    font-size: 30px;
    text-align: justify;
    line-height: 50px;
}

section.about-college-section > p {
    font-weight: 500;
    font-family: "Montserrat";
    color: rgb(68, 41, 1);
}

section.dean {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;
    background-color: #ddddcd;
}

section.dean > .left,
section.dean>.right {
    /* margin-left: 7%; */
    width: 50%;
}

section.dean .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

section.dean > .left .dean-name-container>p {
    font-size: 22px;
    font-weight: 500;
    text-shadow: 0 3px 4px #979797;
    color: rgb(68, 41, 1);
    padding-bottom: 10px;
    border-bottom: solid;
}

section.dean > .left .dean-image-container {
    width: 70%;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

section.dean > .left .dean-image-container > img {
    font-style: italic;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

section.dean > .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(68, 41, 1);
    position: relative;
}

section.dean > .right > p {
    /* width: 500px; */
    width: 70%;
    font-size: 25px;
    line-height: 3rem;
    text-align: left;
}

section.dean > .right>p>span {
    font-style: oblique;
    font-weight: 500;
    font-size: 30px;
}

section.dean > .right > button {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #44431b;
    color: rgb(255, 255, 255);
    transition: color 0.15s;
}

/* section.dean > .right > button:hover {
    color: rgb(175, 175, 175);
} */

section.news-announcements {
    position: relative;
    padding-top: 180px;
    padding-bottom: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, #ddddcd, #f5ee56);
}

section.news-announcements > .left,
section.news-announcements > .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.news-announcements > .left,
section.news-announcements > .right {
    text-transform: uppercase;
    font-size: 25px;
    color: #44431b;
    width: 100%;
}

/* section.news-announcements > .left > button,
section.news-announcements > .right > button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid;
    color: white;
    border: 1px solid black;
    background-color: #44431b;
} */

section.news-announcements .button-wrapper {
    position: absolute;
    top: 78%;
}

section.news-announcements button.readMore {
    font-size: 20px;
    /* padding: 10px 20px; */
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid;
    color: white;
    border: 1px solid black;
    background-color: #44431b;
}

section.news-announcements button.readMore.active,
section.dean > .right > .publications-button.active {
    transition: all 200ms ease;
    transform: translateY(-2%);
    background-color: #f5ee56;
    color: #000000;
}

section.news-announcements .left > button:hover,
section.news-announcements .right > button:hover {
    color: #979797;
}

section.news-announcements .left > .news-container,
section.news-announcements .right > .announcements-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 550px; */
    width: 80%;
    /* max-height: fit-content; */
    height: 80vh;
    /* height: 20%; */
    /* height: 450px; */
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

section.news-announcements .left > .news-container:hover,
section.news-announcements .right > .announcements-container:hover {
    box-shadow: 0 2px 30px rgba(116, 85, 7, 0.485);
}

section.news-announcements .left > .news-container .news-slider-images,
section.news-announcements .right > .announcements-container .announcement-slider-images {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section.news-announcements .left > .news-container .news-slider-images img,
section.news-announcements .right > .announcements-container .announcement-slider-images img {
    flex: 1 0 100%;
    object-fit: fill;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}

section.news-announcements > .left .news-container > .news-slider-container > ul,
section.news-announcements > .right .announcements-container > .announcements-slider-container > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-155%, -50%);
    list-style: none;
}

section.news-announcements > .left .news-container .news-slider-container > ul > li > button,
section.news-announcements > .right .announcements-container .announcements-slider-container > ul > li > button {
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid black;
    height: 10px;
    width: 10px;
}

section.news-announcements > .left .news-container .news-slider-container > ul > li >button[current="false"],
section.news-announcements > .right .announcements-container .announcements-slider-container > ul > li > button[current="false"] {
    opacity: 0.75;
}

section.news-announcements > .left > .news-container > .news-slider-container > ul > li > button[current="true"],
section.news-announcements > .right > .announcements-container > .announcements-slider-container > ul > li > button[current="true"] {
    transform: scale(1.4);
    background-color: #44431b;
    border: none;
}

section.dean .dean-publication-section .dean-publication-wrapper {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #ebe43d;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 2px 4px 8px rgba(255, 255, 255, 0.15);
}

section.dean .dean-publication-section .publications-body {
    padding-top: 15px;
    overflow: scroll;
}

section.dean .dean-publication-section .publications-body ul {
    list-style-type: none;
}

section.dean .dean-publication-section .publications-body ul li {
    margin-top: 10px;
}

section.dean .dean-publication-section .publications-body a {
    text-decoration: none;
    text-align: left;
    color: #1f1f08;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
}

section.dean .dean-publication-section .publications-body a:hover {
    border-bottom: solid;
    font-weight: 500;
}