@import url(header-footer.css);


:root {
  --fc-title: #362d2d;
  --fc-header: #FFF7D4;
  --bg-nav: #4C3D3D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  display: grid;
  place-items: center;
  isolation: isolate;
  overflow: hidden;
  padding: 8rem;
}

main>* {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main>h1 {
  /* color: rgb(255, 183, 183); */
  opacity: 1;
  font-size: 3rem;
  text-transform: uppercase;
}

main::before {
  content: '';
  inset: 0;
  position: absolute;
  background: url(../images/clsu-image.jpg) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  opacity: 0.6;
  z-index: -1;
}

.wrapper {
  padding: 2rem 0 5rem;
  background-image: linear-gradient(45deg,#FFD95A, #C07F00);
}

.wrapper nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.wrapper nav ul li {
  border: 1px solid black;
  border-radius: 30px;
  padding: 2rem;
  background-color: var(--bg-nav);
  transition: transform 100ms ease-in;
}

.wrapper nav ul li:hover {
  transform: translateY(-2%);
}

.wrapper nav ul li > a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--fc-header);
}

section {
  display: grid;
  place-items: center;
  padding-top: 50px;
  user-select: none;
}

section .header {
  width: 100%;
  border: 1px solid black;
  padding: 3rem;
  background-color: #4C3D3D;
}

section .header h1 {
  font-size: 2rem;
  color: var(--fc-header);
  text-transform: uppercase;
}

.title > * {
  color: var(--fc-title);
}

.hero-article,
.hero-announcement {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-top: 0;
  width: 90%;
  background-color: #FFF7D4;
}

.hero-article .left,
.hero-article .right,
.hero-announcement .left,
.hero-announcement .right {
  width: 50%;
  padding: 50px 20px;
}

.hero-article .left h1,
.hero-announcement .right h1 {
  font-size: 3rem;
  color: var(--fc-title);
}

.hero-article .right .image-wrapper,
.hero-announcement .left .image-wrapper {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  max-width: 90%;
}

.hero-article img,
.hero-announcement img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.sub-articles,
.sub-announcements {
  display: grid;
  place-items: center;
  width: 90%;
  border: 1px solid black;
  border-top: 0;
  padding: 2rem;
  background-color: #FFF7D4;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sub-articles h1,
.sub-announcements h1 {
  padding-bottom: 8px;
}

.sub-articles .title p,
.sub-announcements .title p {
  color: rgb(85, 85, 85);
}

.sub-articles .top .article,
.sub-articles .bottom .article,
.sub-announcements .top .announcement,
.sub-announcements .bottom .announcement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.sub-articles .top .article > div,
.sub-articles .bottom .article > div,
.sub-announcements .top .announcement > div,
.sub-announcements .bottom .announcement > div {
  text-align: left;
  width: 50%;
}

.sub-announcements .top .announcement > .title,
.sub-announcements .bottom .announcement > .title {
  padding-left: 1rem;
}

.sub-articles .top,
.sub-articles .bottom,
.sub-announcements .top,
.sub-announcements .bottom {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 2rem;
}

.sub-articles .top .article .image-wrapper,
.sub-articles .bottom .article .image-wrapper,
.sub-announcements .top .announcement .image-wrapper,
.sub-announcements .bottom .announcement .image-wrapper {
  border-radius: 20px;
  overflow: hidden;
  max-height: 200px;
}

.sub-articles .top .article img,
.sub-articles .bottom .article img,
.sub-announcements .top .announcement img,
.sub-announcements .bottom .announcement img {
  display: block;
  margin: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

