@import url(header-footer.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");

header nav>a.current-page {
    font-weight: bold;
    color: #4C3D3D;
    background-color: #FFD95A;
}

.bachelor-header,
.graduate-header {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 2px solid;
    border-left: 0;
    border-right: 0;
    width: 100%;
    background-color: #4C3D3D;
    text-transform: uppercase;
}

.bachelor-header p,
.graduate-header p {
    font-size: clamp(1rem, 2vw + 1rem, 7rem);
    color: #FFF7D4;
}

.bachelor-courses-container,
.graduate-courses-container {
    padding-top: 80px;
    /* background-color: #ebe43d; */
    /* background-color: #C07F00; */
    /* background-color: #FFD95A; */
}

/* all course container */
.course-container {
    box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.course-container.active {
    transition: transform 200ms ease-in-out;
    transform: scale(1.01);
}

.bachelor-courses-container,
.graduate-courses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD95A;
}

.bachelor-courses-container .course-container,
.graduate-courses-container .course-container {
    background-color: #4C3D3D;
}

.bachelor-courses-container .course-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 80px;
}

.bachelor-courses-container .course-container .left,
.bachelor-courses-container .course-container .right {
    max-width: 60%;
}

.bachelor-courses-container .course-container .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.department-head-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.department-head-container .course-head {
    border: 1px solid #FFD95A;
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background-color: grey;
    overflow: hidden;
    box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.graduate-courses-container .department-head-container .course-head {
    width: 360px;
    height: 440px;
    border: 3px solid;
}

.course-head img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.department-head-container p {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    border-bottom: 3px solid #FFD95A;
    padding-bottom: 8px;
}

.graduate-courses-container .department-head-container p {
    color: black;
    border-color: #4C3D3D;
}

.bachelor-courses-container .course-container .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bachelor-courses-container .course-container .right .course-desc .course-title {
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 500;
}

.bachelor-courses-container .course-container .right .course-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.bachelor-courses-container .course-container .right .course-desc .course-title,
.graduate-courses-container .course-section .course-container .course-title {
    width: 90%;
    text-align: center;
    font-size: clamp(.4rem, 1vw + 1.15rem, 1.8rem);
    color: #FFF7D4;
    border-bottom: solid;
    border-color: #FFD95A;
    text-shadow: 0 4px rgba(0, 0, 0, 0.15);
    user-select: none;
}

.bachelor-courses-container .course-container .right .course-desc .course-overview,
.graduate-courses-container .course-section .course-container .course-overview {
    font-size: clamp(.5rem, 3vw + 1rem, 1.2rem);
    line-height: clamp(1rem, 1vw + 1.5rem, 5rem);
    color: #FFF7D4;
    user-select: none;
}

.graduate-courses-container {
    gap: 50px;
}

.graduate-courses-container .course-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 50px;
    column-gap: 50px;
    margin-bottom: 50px;
}

.graduate-courses-container .course-section .course-container {
    width: 90%;
    height: 100%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graduate-courses-container .course-section .course-container .course-title {
    margin-top: 30px;
    padding-bottom: 10px;
}

.graduate-courses-container .course-section .course-container .course-overview {
    margin-top: 20px;
    width: 90%;
}

@media screen and (max-width: 1348px) {}

@media screen and (max-width: 1288px) {}

@media screen and (max-width: 1024px) {

    .course-desc .course-overview {
        padding-left: 1rem;
    }

    .graduate-courses-container .course-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .department-head-container {
        display: none;
    }

    .bachelor-courses-container .course-container .right {
        max-width: 100%;
    }

    .bachelor-courses-container .course-container .right .course-desc {
        padding: 0;
    }

    .graduate-courses-container .course-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (width <= 640px) {
    .department-head-container {
        display: none;
    }

    .bachelor-courses-container .course-container .right {
        max-width: 100%;
    }

    .bachelor-courses-container .course-container .right .course-desc {
        padding: 0;
    }

    .graduate-courses-container .course-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (width <=475px) {
    .department-head-container {
        display: none;
    }

    .bachelor-courses-container .course-container .right {
        max-width: 100%;
    }

    .bachelor-courses-container .course-container .right .course-desc {
        padding: 0;
    }

    .bachelor-courses-container .course-container .right .course-desc .course-overview,
    .graduate-courses-container .course-section .course-container .course-overview {
        font-size: 1rem;
    }

    .graduate-courses-container .course-section {
        grid-template-columns: 1fr;
    }
}