@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import url(header-footer.css);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.hero-section {
    overflow: hidden;
    display: grid;
    place-items: center;
    isolation: isolate;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        url("../images/clg-ced.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13rem;
}

/* .hero-section>* {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
} */

.hero-text-container {
    z-index: 10;
}

.hero-text,
.hero-author {
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: "Poppins";
}

.hero-text {
    font-size: clamp(.8rem, 1.5vw + 1rem, 5rem);
}

.hero-author {
    font-size: clamp(.5rem, 1.25vw + .5rem, 1.5rem);
}

section.college-desc {
    padding-top: 50px;
    background-image: linear-gradient(to bottom, #f5ee56, #ddddcd);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

section.college-desc>.college-title {
    font-size: clamp(1rem, 1.5vw + .8rem, 4rem);
    color: rgb(68, 41, 1);
}

section.college-desc>.about-college {
    width: 70%;
    font-size: clamp(.5rem, 1.5vw + .5rem, 2rem);
    text-align: justify;
    line-height: min(2.5rem, 5rem);
}

section.college-desc>p {
    font-weight: 500;
    font-family: "Montserrat";
    color: rgb(68, 41, 1);
}

section.dean {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;
    background-color: #ddddcd;
}

section.dean>.left,
section.dean>.right {
    width: 50%;
}

section.dean .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

section.dean>.left .dean-name-container>p {
    font-size: clamp(.8rem, 2vw + .5rem, 3rem);
    font-weight: 500;
    text-shadow: 0 3px 4px #979797;
    color: rgb(68, 41, 1);
    padding-bottom: 10px;
    border-bottom: solid;
}

section.dean>.left .dean-image-container {
    width: 70%;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

section.dean>.left .dean-image-container>img {
    font-style: italic;
    vertical-align: middle;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

section.dean>.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(68, 41, 1);
    position: relative;
}

section.dean>.right>p {
    width: 70%;
    font-size: clamp(.5rem, 1vw + 1rem, 3rem);
    line-height: 3rem;
    text-align: left;
}

section.dean>.right>p>span {
    font-style: oblique;
    font-weight: 500;
    font-size: clamp(.7rem, 1vw + 1rem, 3rem);
}

section.dean>.right>button {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #44431b;
    color: rgb(255, 255, 255);
    transition: color 0.15s;
}

section.dean .dean-publication-wrapper {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #ebe43d;
    max-width: 60%;
    max-height: 60%;
    box-shadow: 0 2px 4px 8px rgba(255, 255, 255, 0.15),
        0 0 0 100vw rgb(0 0 0 / .8);
}

section.dean .publications-body {
    padding-top: 15px;
    overflow: scroll;
}

section.dean .publications-body ul {
    list-style-type: none;
}

section.dean .publications-body ul li {
    margin-top: 10px;
}

section.dean .publications-body a {
    text-decoration: none;
    text-align: left;
    color: #1f1f08;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.25rem;
}

section.dean .publications-body a:hover {
    border-bottom: solid;
    font-weight: 500;
}

section.dean .dean-publication-wrapper.active {
    visibility: visible;
}

section.dean .publications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

section.dean .publications-header p {
    font-size: 1.25rem;
    font-weight: bold;
}

section.dean .publications-header .publications-close {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: none;
    outline: none;
    font-size: 1.25rem;
}

section.dean .dean-publication-section .publications-header .publications-close:hover {
    background-color: rgb(184, 184, 184);
}

section.dean .publications-header .publications-close {
    font-size: 1.5rem;
}

section.news-announcements {
    position: relative;
    padding-top: 180px;
    padding-bottom: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, #ddddcd, #f5ee56);
}

section.news-announcements>.left,
section.news-announcements>.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.news-announcements>.left,
section.news-announcements>.right {
    text-transform: uppercase;
    font-size: clamp(.7rem, 1vw + .7rem, 3rem);
    color: #44431b;
    width: 100%;
}

section.news-announcements .button-wrapper {
    position: absolute;
    top: 78%;
}

section.news-announcements button.readMore {
    font-size: 20px;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid;
    color: white;
    border: 1px solid black;
    background-color: #44431b;
}

section.news-announcements button.readMore.active,
section.dean>.right>.publications-button.active {
    transition: all 200ms ease;
    transform: translateY(-2%);
    background-color: #f5ee56;
    color: #000000;
}

section.news-announcements .left>button:hover,
section.news-announcements .right>button:hover {
    color: #979797;
}

section.news-announcements .news-container,
section.news-announcements .announcements-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-height: 65vh;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

section.news-announcements .left>.news-container:hover,
section.news-announcements .right>.announcements-container:hover {
    box-shadow: 0 2px 30px rgba(116, 85, 7, 0.485);
}

section.news-announcements .left>.news-container .news-slider-images,
section.news-announcements .right>.announcements-container .announcement-slider-images {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section.news-announcements .left>.news-container .news-slider-images img,
section.news-announcements .right>.announcements-container .announcement-slider-images img {
    display: block;
    flex: 1 0 100%;
    object-fit: fill;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}

section.news-announcements>.left .news-container>.news-slider-container>ul,
section.news-announcements>.right .announcements-container>.announcements-slider-container>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-155%, -50%);
    list-style: none;
}

section.news-announcements>.left .news-container .news-slider-container>ul>li>button,
section.news-announcements>.right .announcements-container .announcements-slider-container>ul>li>button {
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid black;
    height: 10px;
    width: 10px;
}

section.news-announcements>.left .news-container .news-slider-container>ul>li>button[current="false"],
section.news-announcements>.right .announcements-container .announcements-slider-container>ul>li>button[current="false"] {
    opacity: 0.75;
}

section.news-announcements>.left>.news-container>.news-slider-container>ul>li>button[current="true"],
section.news-announcements>.right>.announcements-container>.announcements-slider-container>ul>li>button[current="true"] {
    transform: scale(1.4);
    background-color: #44431b;
    border: none;
}

@media (max-width: 1350px) {}

@media (max-width: 1288px) {

    body.landing-page .news-container,
    body.landing-page .announcements-container {
        max-height: 60vh;
    }
}

@media (max-width: 1024px) {

    section.dean {
        flex-direction: column;
        gap: 20px;
    }

    section.dean .right {
        width: 100%;
        gap: 50px;
    }

    section.dean .right>p {
        line-height: 2.8rem;
    }

    footer .main-content {
        width: 100%;
    }

    footer .main-content .generalInfoRow {
        width: 90%;
    }
}

@media (max-width: 768px) {
    main .hero-section {
        max-height: 10vh;
    }

    main .hero-text-container {
        position: absolute;
    }

    section.news-announcements {
        flex-direction: column;
        gap: 3rem;
    }

    section.news-announcements .news-container,
    section.news-announcements .announcements-container {
        max-height: 60vh;

    }

    section.news-announcements .button-wrapper {
        top: 85%;
    }

    footer .main-content {
        width: 100%;
    }

    footer .main-content .generalInfoRow {
        width: 90%;
    }
}

@media (width <= 640px) {
    section.dean .publications-body a {
        font-size: 1rem;
    }
}

@media (max-width: 475px) {

    section.college-desc>.about-college {
        line-height: 2rem;
        font-size: 1.25rem;
    }

    section.dean .left {
        width: 90%;
    }

    section.news-announcements .news-container,
    section.news-announcements .announcements-container {
        max-height: 40vh;
    }

    section.news-announcements .button-wrapper {
        top: 81%;
    }

    footer .main-content {
        width: 100%;
    }

    footer .main-content .generalInfoRow {
        width: 90%;
    }
}