@import url(header-footer.css);


:root {
  --fc-title: #362d2d;
  --fc-header: #FFF7D4;
  --bg-nav: #4C3D3D;
  --bg-nav-curr: #FFD95A;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  display: grid;
  place-items: center;
  isolation: isolate;
  overflow: hidden;
  padding: clamp(8rem, 5vh + 1rem, 10rem);
}

main>* {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

main>h1 {
  /* color: rgb(255, 183, 183); */
  opacity: 1;
  font-size: clamp(1rem, 3vw + 1.5rem, 10rem);
  color: #362d2d;
  text-transform: uppercase;
}

main::before {
  content: '';
  inset: 0;
  position: absolute;
  background: url(../images/clsu-image.jpg) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  opacity: 0.6;
  z-index: -1;
}

.wrapper {
  padding: 2rem 0 5rem;
  background-image: linear-gradient(45deg, #FFD95A, #C07F00);
}

.wrapper nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.wrapper nav ul a {
  border: 1px solid black;
  border-radius: 50px;
  padding: 2rem;
  background-color: var(--bg-nav);
  transition: transform 100ms ease-in;
  text-decoration: none;
}

.wrapper nav ul a:hover {
  transform: translateY(-2%);
}

.wrapper nav ul a>li {
  font-size: clamp(1.25rem, 2vw + 1rem, 8rem);
  padding: 1.25rem;
  text-decoration: none;
  color: var(--fc-header);
}

.wrapper nav ul a.current {
  background-color: var(--bg-nav-curr);
  border: none;
}

.wrapper nav ul a.current li {
  font-weight: bold;
  color: var(--bg-nav);
}

section {
  display: grid;
  place-items: center;
  padding-top: 50px;
  user-select: none;
}

section .header {
  width: 100%;
  border: 1px solid black;
  padding: 3rem;
  background-color: #4C3D3D;
}

section .header h1 {
  font-size: clamp(2rem, 2vw + 1rem, 8rem);
  color: var(--fc-header);
  text-transform: uppercase;
}

.title>* {
  color: var(--fc-title);
}

.hero-article,
.hero-announcement {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-top: 0;
  width: 90%;
  background-color: #FFF7D4;
  text-transform: uppercase;
  padding: 2rem;
}

.hero-article .left,
.hero-article .right,
.hero-announcement .left,
.hero-announcement .right {
  width: 50%;
  padding: 50px 20px;
}

.hero-article .left h1,
.hero-announcement .right h1 {
  font-size: clamp(1rem, 3vw + 1rem, 10rem);
  color: var(--fc-title);
  cursor: pointer;
}

.hero-article .right .image-wrapper,
.hero-announcement .left .image-wrapper {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  max-width: 90%;
  box-shadow: 20px 20px 1px #4C3D3D;
}

.hero-article img,
.hero-announcement img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.sub-articles,
.sub-announcements {
  display: grid;
  place-items: center;
  width: 90%;
  border: 1px solid black;
  border-top: 0;
  padding: 2rem;
  background-color: #FFF7D4;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sub-articles h1,
.sub-announcements h1 {
  font-size: clamp(1rem, .8vw + 1rem, 10rem);
  padding-bottom: 8px;
  cursor: pointer;
}

.sub-articles .title p,
.sub-announcements .title p {
  font-size: clamp(.5rem, 1.25vw + 1rem, 8rem);
  color: rgb(85, 85, 85);
}

.sub-articles .top .article,
.sub-articles .bottom .article,
.sub-announcements .top .announcement,
.sub-announcements .bottom .announcement {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.sub-articles .top .article>div,
.sub-articles .bottom .article>div,
.sub-announcements .top .announcement>div,
.sub-announcements .bottom .announcement>div {
  text-align: left;
  width: 50%;
}

.sub-announcements .top .announcement>.title,
.sub-announcements .bottom .announcement>.title {
  padding-left: 1rem;
}

.sub-articles .top,
.sub-articles .bottom,
.sub-announcements .top,
.sub-announcements .bottom {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 2rem;
}

.sub-articles .top .article .image-wrapper,
.sub-articles .bottom .article .image-wrapper,
.sub-announcements .top .announcement .image-wrapper,
.sub-announcements .bottom .announcement .image-wrapper {
  border-radius: 20px;
  overflow: hidden;
  /* max-height: 200px; */
  padding: 2rem 0;
}

.sub-articles .top .article img,
.sub-articles .bottom .article img,
.sub-announcements .top .announcement img,
.sub-announcements .bottom .announcement img {
  display: block;
  margin: auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center 15%;
}

@media screen and (max-width: 1348px) {
  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (max-width: 1288px) {

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .hero-article,
  .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .sub-articles .top .article .title p,
  .sub-articles .bottom .article .title p,
  .sub-announcements .top .announcement .title p,
  .sub-announcements .bottom .announcement .title p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {

  main h1 {
    text-align: center;
  }

  .hero-article,
  .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .sub-articles .top .article .title p,
  .sub-articles .bottom .article .title p,
  .sub-announcements .top .announcement .title p,
  .sub-announcements .bottom .announcement .title p {
    font-size: 1.15rem;
  }
}

@media screen and (width <=640px) {

  main h1 {
    text-align: center;
  }

  .hero-article,
  .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .sub-articles .top .article .title p,
  .sub-articles .bottom .article .title p,
  .sub-announcements .top .announcement .title p,
  .sub-announcements .bottom .announcement .title p {
    font-size: 1rem;
  }

}

@media screen and (width <=475px) {

  main {
    padding: 3rem;
  }

  main h1 {
    width: 100%;
    text-align: center;
  }

  .wrapper nav ul a>li {
    font-size: 1rem;
    padding: 0;
  }

  section .header {
    padding: 2rem;
  }
  
  section .header h1 {
    font-size: 1.5rem;
  }

  .hero-article,
  .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .sub-articles .top .article .title p,
  .sub-articles .bottom .article .title p,
  .sub-announcements .top .announcement .title p,
  .sub-announcements .bottom .announcement .title p {
    font-size: .8rem;
  }
}