@media (width <=655px) {
  body.facilities main {
    gap: 40px;
  }

  section.container {
    height: min-content;
  }

  section.container .image-wrapper {
    display: none;
  }
}

@media (max-width: 599px) {


  /* landing page */
  body.landing-page .hero-section {
    max-height: 100vh;
    padding: 8rem;
  }

  body.landing-page .hero-text-container {
    width: 100%;
  }

  .hero-text,
  .hero-author {
    /* font-size: 1.5rem; */
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: "Poppins";
  }

  .hero-author {
    /* font-size: 1rem; */
  }

  .college-title h1 {
    /* font-size: 3rem; */
    color: rgb(68, 41, 1);
  }

  body.landing-page .about-college {
    width: 100%;
  }

  .about-college>p {
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.5rem; */
    text-align: justify;
    width: 90%;

  }

  section.dean {
    padding-top: 20px;
    flex-direction: column;
    gap: 50px;
  }

  section.dean .left,
  section.dean .right {
    width: 100%;
  }

  section.dean .right>p {
    text-wrap: balance;
  }

  section.dean .dean-publication-section .dean-publication-wrapper {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    max-height: 40%;
    width: 100%;
  }

  section.dean .dean-publication-section .publications-body {
    max-width: 100%;
  }

  section.dean .dean-publication-section .publications-body a {
    /* font-size: 1rem; */
  }

  section.news-announcements {
    padding-top: 80px;
    flex-direction: column;
    gap: 50px;
  }

  section.news-announcements .left>.news-container,
  section.news-announcements .right>.announcements-container {
    /* max-height: 50vh; */
    max-height: min(20vh, 80vh);

  }

  section.news-announcements .button-wrapper {
    top: clamp(70%, 1vh + 2% , 82%);
  }


  /* courses offered */

  .bachelor-header p,
  .graduate-header p {
    /* font-size: 1.8rem; */
  }

  .bachelor-courses-container .course-container,
  .graduate-courses-container .course-section .course-container {
    height: min-content;
  }

  .department-head-container {
    display: none;
  }

  .bachelor-courses-container .course-container .right {
    max-width: 100%;
  }

  .bachelor-courses-container .course-container .right .course-desc .course-title,
  .graduate-courses-container .course-section .course-container .course-title {
    /* font-size: 1.5rem; */
  }

  .bachelor-courses-container .course-container .right .course-desc .course-overview,
  .graduate-courses-container .course-section .course-container .course-overview {
    font-size: clamp(.3rem, 1vw + .5rem, 1rem);
  }

  .graduate-courses-container .course-section {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .graduate-courses-container .course-section .course-container {
    width: 80%;
  }

  /* faculty */

  .dean-head-section {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .dean-head-section .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dean-head-section .right .head-section {
    place-items: center;
  }

  .dean-head-section .dean-container {
    width: 70%;
    max-height: 60%;

  }

  .dean-head-section .head-container {
    width: 90%;
  }

  .faculty-section {
    grid-template-columns: 1fr 1fr;
  }

  .faculty-container {
    width: 90%;
  }

  .overlay {
    opacity: 1;
  }

  .overlay .content p {
    /* font-size: 1.25rem; */
  }

  .overlay .content p span {
    /* font-size: 1rem; */
    padding-bottom: .5rem;
  }

  .dean-container,
  .head-container,
  .faculty-container {
    box-shadow: 0 2px 4px 8px #0000002f;
  }

  /* facilities */

  section.container .content-wrapper {
    width: 100%;
    text-align: left;
  }

  section.container .content-wrapper .header {
    /* font-size: 1.5rem; */
  }

  section.container .content-wrapper p {
    /* font-size: 1rem; */
  }

  /* services */

  body.services main {
    grid-template-columns: 1fr 1fr;
  }

  body.services .service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    min-height: 30vh;
    max-height: 30vh;
  }

  .service .top {
    padding: 1rem;
    width: 100%;
  }


  .top img {
    padding: .5rem;
  }

  .service .bottom {
    padding: .5rem;
    /* padding: 0; */
    /* padding-top: .5rem; */
  }

  .service p.header {
    /* font-size: .9rem; */
    margin-bottom: 10px;
  }

  .service p.body {
    /* font-size: .8rem; */
    padding: .5rem;
  }

  /* news-announcements latest */

  body.extensions main {
    padding: 5rem;
  }

  body.extensions main>h1 {
    /* font-size: 2rem; */
    text-align: center;
  }

  body.extensions section .header {
    padding: 1.5rem;
  }

  body.extensions .hero-article,
  body.extensions .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .hero-article .left h1,
  .hero-announcement .right h1 {
    /* font-size: 2rem; */
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  body.extensions .archived-news-wrapper {
    flex-direction: column;
  }

  body.extensions section .archived-news-wrapper .news-wrapper,
  body.extensions section .year-sort-wrapper {
    width: 100%;
  }

  body.extensions section .year-sort-wrapper nav ul {
    display: none;
  }

  body.extensions section .year-sort-wrapper nav ul li {
    /* font-size: 1rem; */
  }

  /* contact us */

  body.contact .header {
    text-align: center;
    padding: 2rem;
  }

  .contacts-wrapper {
    display: none;
  }

  .form-wrapper {
    padding: 5rem 1rem;
  }

  body.contact input {
    /* font-size: 1rem; */
  }

  body.contact .submit {
    /* font-size: 1rem; */
  }
}


@media (min-width: 600px) and (max-width: 899px) {

  .hamburger-menu {
    display: flex;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav {
    display: none;
    width: 100%;
    align-items: center;
  }

  header nav ul {
    padding-top: 1rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  header nav li {
    min-width: 12rem;
    max-width: 12rem;
    align-items: center;
  }

  header nav a {
    text-align: center;
  }

  .hamburger-menu.active+nav {
    display: flex;
    animation: slide-down 500ms forwards;
  }

  @keyframes slide-down {
    0% {
      translate: 0 -100%;
    }

    100% {
      translate: 0 0%;
    }
  }

  body.landing-page .hero-section {
    max-height: 100vh;
    padding: 12rem;
  }

  body.landing-page .hero-text-container {
    width: 100%;
  }

  .hero-text,
  .hero-author {
    /* font-size: 2rem; */
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: "Poppins";
  }

  .hero-author {
    /* font-size: 1.5rem; */
  }

  .college-title h1 {
    /* font-size: 3rem; */
  }

  body.landing-page .about-college {
    width: 100%;
  }

  .about-college>p {
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.5rem; */
    text-align: justify;
    width: 90%;

  }

  section.dean {
    padding-top: 20px;
    flex-direction: column;
    gap: 50px;
  }

  section.dean .dean-image-container {
    max-width: 50%;
  }

  section.dean .dean-image-container img {
    width: 100%;
  }

  section.dean .left,
  section.dean .right {
    width: 100%;
  }

  section.dean .right>p {
    text-wrap: balance;
  }

  section.dean .dean-publication-section .dean-publication-wrapper {
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    max-height: 30%;
    width: 100%;
  }

  section.dean .dean-publication-section .publications-body {
    max-width: 100%;
  }

  section.dean .dean-publication-section .publications-body a {
    /* font-size: 1rem; */
  }

  section.news-announcements {
    padding-top: 80px;
    flex-direction: column;
    gap: 50px;
  }

  section.news-announcements .left>.news-container,
  section.news-announcements .right>.announcements-container {
    max-height: 40vh;
  }

  section.news-announcements .button-wrapper {
    /* top: 85%; */
  }

  /* courses offered */

  .bachelor-header p,
  .graduate-header p {
    /* font-size: 1.8rem; */
  }

  .department-head-container {
    display: none;
  }

  .bachelor-courses-container .course-container .right {
    max-width: 100%;
  }

  .bachelor-courses-container .course-container .right .course-desc .course-title,
  .graduate-courses-container .course-section .course-container .course-title {
    /* font-size: 1.9rem; */
  }

  .bachelor-courses-container .course-container .right .course-desc .course-overview {
    font-size: clamp(.5rem, 1vw + .6rem, 2rem);
  }


  .graduate-courses-container .course-section .course-container .course-overview {
    /* font-size: clamp(.8rem, 1vw + .8rem, 2rem); */
    font-size: clamp(.5rem, 1vw + .6rem, 2rem);
  }

  .graduate-courses-container .course-section {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .graduate-courses-container .course-section .course-container {
    width: 80%;
  }

  /* faculty */

  .dean-head-section {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .dean-head-section .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dean-head-section .right .head-section {
    place-items: center;
  }

  .dean-head-section .dean-container {
    width: 70%;
    max-height: 60%;
  }

  .dean-head-section .head-container {
    width: 90%;
  }

  .faculty-section {
    grid-template-columns: 1fr 1fr;
  }

  .faculty-container {
    width: 90%;
  }

  .overlay {
    opacity: 1;
  }

  .dean-container .overlay .content p {
    /* font-size: 2rem; */
  }

  .overlay .content p {
    /* font-size: 1.5rem; */
  }

  .overlay .content p span {
    /* font-size: 1rem; */
    padding-bottom: .5rem;
  }

  .dean-container,
  .head-container,
  .faculty-container {
    box-shadow: 0 2px 4px 8px #0000002f;
  }


  /* facilities */

  section.container {
    height: min-content;
  }

  section.container .image-wrapper {
    height: auto;
  }

  section.container .content-wrapper {
    width: 100%;
    text-align: left;
  }

  section.container .content-wrapper .header {
    /* font-size: 1.5rem; */
  }

  section.container .content-wrapper p {
    font-size: 1rem;
  }

  /* services */

  body.services main {
    grid-template-columns: 1fr 1fr;
  }

  body.services .service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-height: 30vh;
  }

  .service .top {
    padding: 1rem;
    width: 100%;
  }


  .top img {
    padding: .5rem;
  }

  .service .bottom {
    padding: .5rem;
    /* padding: 0; */
    /* padding-top: .5rem; */
  }

  .service p.header {
    /* font-size: .9rem; */
    margin-bottom: 10px;
  }

  .service p.body {
    /* font-size: .8rem; */
    padding: .5rem;
  }

  /* news-announcements latest */

  body.extensions main {
    padding: 5rem;
  }

  body.extensions main>h1 {
    /* font-size: 2rem; */
    text-align: center;
  }

  body.extensions section .header {
    padding: 1.5rem;
  }

  body.extensions .hero-article,
  body.extensions .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .hero-article .left h1,
  .hero-announcement .right h1 {
    /* font-size: 2rem; */
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  body.extensions .archived-news-wrapper {
    flex-direction: column;
  }

  body.extensions section .archived-news-wrapper .news-wrapper,
  body.extensions section .year-sort-wrapper {
    width: 100%;
  }

  body.extensions section .year-sort-wrapper nav ul {
    /* flex-direction: row; */
    /* gap: 5px; */
    display: none;
  }

  body.extensions section .year-sort-wrapper nav ul li {
    /* font-size: 1rem; */
  }

  /* contact us */

  body.contact .header {
    text-align: center;
    padding: 2rem;
  }

  .contacts-wrapper {
    display: none;
  }

  .form-wrapper {
    padding: 5rem 1rem;
  }

  body.contact input {
    /* font-size: 1rem; */
  }

  body.contact .submit {
    /* font-size: 1rem; */
  }

  footer .main-content {
    padding: 1rem;
    flex-direction: column;
    gap: 10px;
  }

  footer .socialLinks {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  

  header nav ul {
    gap: 5px;
  }

  header nav a {
    padding: 1rem;
    text-align: center;
    /* font-size: .9rem; */
  }

  body.landing-page .hero-section {
    max-height: 100vh;
    padding: 12rem;
  }

  body.landing-page .hero-text-container {
    width: 100%;
  }

  .hero-text,
  .hero-author {
    /* font-size: 2rem; */
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-family: "Poppins";
  }

  .hero-author {
    /* font-size: 1.5rem; */
  }

  .college-title h1 {
    /* font-size: 3rem; */
  }

  body.landing-page .about-college {
    width: 85%;
  }

  .about-college>p {
    margin-left: auto;
    margin-right: auto;
    /* font-size: 1.5rem; */
    text-align: justify;
    width: 90%;

  }

  section.dean {
    padding-top: 20px;
    flex-direction: column;
    gap: 50px;
  }

  section.dean .dean-image-container {
    max-width: 50%;
  }

  section.dean .dean-image-container img {
    width: 100%;
  }

  section.dean .left,
  section.dean .right {
    width: 100%;
  }

  section.dean .right>p {
    text-wrap: balance;
  }

  section.dean .dean-publication-section .dean-publication-wrapper {
    top: 35%;
    left: 48%;
    transform: translate(-50%, -50%);
    max-height: 60%;
  }

  section.dean .dean-publication-section .publications-body {
    max-width: 100%;
  }

  section.dean .dean-publication-section .publications-body a {
    /* font-size: 1rem; */
  }

  section.news-announcements {
    padding-top: 80px;
    flex-direction: row;
    gap: 50px;
  }

  section.news-announcements .left>.news-container,
  section.news-announcements .right>.announcements-container {
    max-height: 50vh;
  }

  section.news-announcements .button-wrapper {
    /* top: 69%; */
  }

  /* courses offered */

  .bachelor-header p,
  .graduate-header p {
    /* font-size: 1.8rem; */
  }

  .department-head-container {
    display: grid;
    place-items: center;
  }

  .bachelor-courses-container .course-container {
    width: 90%;
  }

  .bachelor-courses-container .course-container .left {
    padding: 1rem;
    width: 40%;
  }

  .bachelor-courses-container .course-container .right {
    padding: 1rem;
  }

  .bachelor-courses-container .course-container .right .course-desc .course-title,
  .graduate-courses-container .course-section .course-container .course-title {
    /* font-size: 1.9rem; */
  }

  .bachelor-courses-container .course-container .right .course-desc {
    padding: 1rem;
  }

  .bachelor-courses-container .course-container .right .course-desc .course-overview {
    /* font-size: 1rem; */
  }


  .graduate-courses-container .course-section .course-container .course-overview {
    font-size: clamp(.1rem, 1vw + .3rem, 1.5rem);
    /* font-size: ; */
  }

  .graduate-courses-container .course-section {
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  .graduate-courses-container .course-section .course-container {
    width: 90%;
  }

  /* faculty */

  .dean-head-section {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .dean-head-section .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dean-head-section .right .head-section {
    place-items: center;
  }

  .dean-head-section .dean-container {
    width: 70%;
    max-height: 60%;
  }

  .dean-head-section .head-container {
    width: 90%;
  }

  .faculty-section {
    grid-template-columns: 1fr 1fr;
  }

  .faculty-container {
    width: 90%;
  }

  .overlay {
    opacity: 1;
  }

  .dean-container .overlay .content p {
    /* font-size: 2rem; */
  }

  .overlay .content p {
    /* font-size: 1.5rem; */
  }

  .overlay .content p span {
    /* font-size: 1rem; */
    padding-bottom: .5rem;
  }

  .dean-container,
  .head-container,
  .faculty-container {
    box-shadow: 0 2px 4px 8px #0000002f;
  }


  /* facilities */

  section.container {
    height: min-content;
  }

  section.container .image-wrapper {
    height: auto;
  }

  section.container .content-wrapper {
    width: 100%;
    text-align: left;
  }

  section.container .content-wrapper .header {
    /* font-size: 1.5rem; */
  }

  section.container .content-wrapper p {
    /* font-size: 1rem; */
  }

  /* services */

  body.services main {
    grid-template-columns: 1fr 1fr;
  }

  body.services .service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-height: 30vh;
  }

  .service .top {
    padding: 1rem;
    width: 100%;
  }


  .top img {
    padding: .5rem;
  }

  .service .bottom {
    padding: .5rem;

  }

  .service p.header {
    /* font-size: .9rem; */
    margin-bottom: 10px;
  }

  .service p.body {
    /* font-size: .8rem; */
    padding: .5rem;
  }

  /* news-announcements latest */

  body.extensions main {
    padding: 5rem;
  }

  body.extensions main>h1 {
    /* font-size: 2rem; */
    text-align: center;
  }

  body.extensions section .header {
    padding: 1.5rem;
  }

  body.extensions .hero-article,
  body.extensions .hero-announcement {
    flex-direction: column;
  }

  .hero-article .left,
  .hero-article .right,
  .hero-announcement .left,
  .hero-announcement .right {
    padding: 2rem;
    width: 100%;
  }

  .hero-article .left h1,
  .hero-announcement .right h1 {
    /* font-size: 2rem; */
  }

  .sub-articles .top .article,
  .sub-articles .bottom .article,
  .sub-announcements .top .announcement,
  .sub-announcements .bottom .announcement {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    width: 100%;
  }

  .sub-articles .top .article>div,
  .sub-articles .bottom .article>div,
  .sub-announcements .top .announcement>div,
  .sub-announcements .bottom .announcement>div {
    width: 100%;
  }

  .sub-articles .top .article .title h1,
  .sub-articles .bottom .article .title h1,
  .sub-announcements .top .announcement .title h1,
  .sub-announcements .bottom .announcement .title h1 {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  body.extensions .archived-news-wrapper {
    flex-direction: column;
  }

  body.extensions section .archived-news-wrapper .news-wrapper,
  body.extensions section .year-sort-wrapper {
    width: 100%;
  }

  body.extensions section .year-sort-wrapper nav ul {
    /* flex-direction: row; */
    /* gap: 5px; */
    display: none;
  }

  body.extensions section .year-sort-wrapper nav ul li {
    /* font-size: 1rem; */
  }

  /* contact us */

  body.contact .header {
    text-align: center;
    padding: 2rem;
  }

  .contacts-wrapper {
    display: none;
  }

  .form-wrapper {
    padding: 5rem 1rem;
  }

  body.contact input {
    /* font-size: 1rem; */
  }

  body.contact .submit {
    /* font-size: 1rem; */
  }

  footer .main-content {
    padding: 1rem;
    flex-direction: row;
    gap: 10px;
  }

  footer .socialLinks {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1200px) {
  footer .main-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding: 2rem;
  }
}

/* @media (width > 1200px) {

  header nav a {
    font-size: clamp(1.25rem, 1vw + .5rem, 5rem);
    padding: 3rem;
  }

  section.college-desc .college-title {
    font-size: 3rem;
  }

  section.college-desc .about-college p {
    font-size: 2.5rem;
  }
  
  img {
    width: 100%;
  }
  
  section.dean > .right > button {
    font-size: 1.5rem;
  } 

  section.news-announcements button.readMore {
    font-size: 1.8rem;
  }


  

  footer .main-content .generalInfoRow .header-container .college-name {
    font-size: 3rem;
  }

  footer .main-content .generalInfoRow .header-container .college-gen-loc {
    font-size: 1.5rem;
  }

  footer .main-content .generalInfoRow .contacts-container li > p {
    font-size: 1.25rem;
  }

} */

