@media screen and (max-width: 360px) {
 header > .image-container {
    width: 40px;
    height: 40px;
 }
 
 header > nav {
    gap: 10px;
 }

 header > nav > a {
    padding: 5px 10px;
    font-size: 5px;
 }

 main > .hero-section {
    max-height: 230px;
 }

 main > .hero-section > .hero-text-container {
    top: 25%;
 }

 main > .hero-section > .hero-text-container > .hero-text,
 main > .hero-section > .hero-text-container > .hero-author {
    font-size: 12px;
 }

 main > .hero-section > .hero-text-container > .hero-author {
    font-size: 8px;
 }

 main > .about-college-section {
    padding: 20px;
 }
 
 main > .about-college-section > .college-title {
    font-size: 13px;
 }

 main > .about-college-section > .about-college {
    margin-top: -20px;
    font-size: 10px;
    max-width: 280px;
    line-height: normal;
 }

 main > .dean-section {
    flex-direction: column;
    gap: 20px;
 }
}

@media screen and (max-width: 1366px) {
   main .hero-section>.hero-text-container {
      top: 75%;
      left: 51%;
   }
}